.footer {
    display: block;
    background-color: #2e2d2d;
    color: #fff;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.footer-about,
.footer-links,
.footer-social {
    flex: 1;
    margin: 20px;
}

.footer-about h3,
.footer-links h3,
.footer-social h3 {
    margin-bottom: 15px;
}

.footer-about p {
    font-size: 16px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.social-icon:hover {
    color: #007bff;
}

.footer-bottom {
    background-color: #000000;
    padding: 10px;
}

@media (max-width : 1024px) {

    .footer-about,
    .footer-links,
    .footer-social {
        margin: 18px;
    }

    .footer-about p {
        font-size: 14px;
    }

    .social-icon {
        font-size: 22px;
    }

    .footer-bottom p {
        font-size: 16px;
    }
}

@media (max-width : 768px) {

    .footer-about,
    .footer-links,
    .footer-social {
        margin: 14px;
    }

    .footer-content h3 {
        font-size: 16px;
    }

    .footer-about p {
        font-size: 10px;
    }

    .social-icon {
        font-size: 18px;
    }

    .footer-links a {
        font-size: 12px;
    }

    .footer-bottom p {
        font-size: 14px;
    }
}

@media (max-width : 426px) and (min-width : 320px){
    .footer-content {
        display: block;
        justify-content: center;
    }

    .footer-about,
    .footer-links,
    .footer-social {
        margin: 20px;
    }

    .footer-content h3 {
        font-size: 12px;
    }

    .footer-about p {
        font-size: 8px;
    }

    .social-icon {
        font-size: 12px;
    }

    .footer-links a {
        font-size: 9px;
    }

    .footer-bottom p {
        font-size: 9px;
    }
}