* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    margin-top: 40px;
    display: flex;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-content {
    padding: 20px;
    flex-grow: 1;
}

.profile-content h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.avatar-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.avatar-container button {
    padding: 5px 10px;
    border: none;
    background-color: #2c3e50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.avatar-container button:hover {
    background-color: #34495e;
}

button[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #34495e;
}

.status {
    font-size: 24px;
}

/* Button logout di pojok kanan bawah */
#logout-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#logout-btn:hover {
    background-color: #c0392b;
}

/* CSS untuk riwayat pembelian */
.history {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.purchase-history {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.purchase-item {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchase-item img {
    max-width: 100px;
    border-radius: 4px;
    margin-right: 15px;
}

.purchase-item .details {
    font-size: 14px;
    color: #555;
}

.purchase-item .details span {
    display: block;
    margin-bottom: 5px;
}

@media (max-width : 1440px) {
    .profile-container {
        margin-top: 200px;
        width: 90%;
        margin-bottom: 70px;
    }
    
    #logout-btn {
        font-size: 14px;
    }
    
    .btn-update-information {
        padding: 6px 14px;
        font-size: 14px;
    }
    
    .history{
        font-size: 19px;
        font-weight: 900;
    }
    
    .purchase-item{
        width: 90%;
    }
    
    .name {
        font-size: 18px;
    }
    
    .price{
        font-size: 18px;
    }
    
    .quantity{
        font-size: 18px;
    }

    .status{
        font-size: 24px;
    } 
}

@media (max-width : 1024px) {
    .profile-container {
        margin-top: 190px;
        width: 90%;
        margin-bottom: 70px;
    }

    .profile-content h2 {
        font-size: 18px;
    }

    .avatar-container {
        gap: 0;
    }

    #avatar {
        width: 80px;
        height: 80px;
    }

    .form-group label {
        font-size: 14px;
    }

    #logout-btn {
        font-size: 14px;
    }

    .btn-update-information {
        padding: 6px 14px;
        font-size: 14px;
    }

    .history {
        font-size: 18px;
        font-weight: 900;
    }

    .purchase-item {
        width: 90%;
    }

    .name {
        font-size: 16px;
    }

    .price {
        font-size: 14px;
    }

    .quantity {
        font-size: 14px;
    }

    .status {
        font-size: 20px;
    }
}

@media (max-width : 768px) {
    .profile-container {
        margin-top: 180px;
        width: 90%;
        margin-bottom: 70px;
    }

    .profile-content h2 {
        font-size: 16px;
    }

    .avatar-container {
        gap: 0;
    }

    #avatar {
        width: 70px;
        height: 70px;
    }

    .form-group label {
        font-size: 12px;
    }

    #logout-btn {
        font-size: 12px;
    }

    .btn-update-information {
        padding: 6px 14px;
        font-size: 12px;
    }

    .history {
        font-size: 16px;
        font-weight: 900;
    }

    .purchase-item {
        width: 90%;
    }

    .name {
        font-size: 12px;
    }

    .price {
        font-size: 12px;
    }

    .quantity {
        font-size: 12px;
    }

    .status {
        font-size: 18px;
    }
}

@media (max-width : 320px) {
    .profile-container {
        margin-top: 220px;
        width: 90%;
        margin-bottom: 70px;
    }

    .profile-content h2 {
        font-size: 14px;
        text-align: center;
    }

    .avatar-container {
        gap: 0;
        justify-content: center;
    }

    #avatar {
        width: 50px;
        height: 50px;
    }

    .form-group label {
        font-size: 12px;
    }

    #logout-btn {
        font-size: 12px;
    }

    .btn-update-information {
        padding: 6px 14px;
        font-size: 12px;
    }

    .history {
        font-size: 12px;
        font-weight: 900;
    }

    .purchase-item {
        width: 84%;
    }

    .purchase-item img {
        max-width: 60px;
        margin-right: 10px;
    }

    .name {
        font-size: 8px;
    }

    .price {
        font-size: 8px;
    }

    .quantity {
        font-size: 8px;
    }

    .status {
        font-size: 10px;
    }
}