* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #000;
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
}

.hero-content {
  max-width: 50%;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  margin-bottom: 20px;
}

.content{
  width: 100%;
}

.content h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.figure{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 10px #4f4b43;
  border-radius: 20px;
  width: 26%;
  height: 350px;
  margin-bottom: 30px;
}

.figure img{
  width: 60%;
}

figcaption{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

figcaption p{
  color: red;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.btn-primary {
  border-radius: 50px;
  line-height: 22px;
  background-color: #FFA500;
  color: #FFF;
}

.btn-secondary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.hero-images {
  display: flex;
  gap: 10px;
}

.hero-images img {
  width: 100%;
  height: 600px;
  margin-left: 70px;
}

/* Popup Styles */
.popup {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 2%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.popup-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 700px; /* Max width */
  background-color: #fff;
}

.popup img {
  width: 100%;
  height: auto;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.popup-close:hover {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}

.other-content{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  gap: 20px;
}

.image-tranding{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.image-tranding img{
  width: 30%;
}